* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #102136;
}

.textoinicial {
  font-family: "Rubik", serif;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}

.Todoeltexto {
  width: 1000px;
  margin: auto;
  padding: 15px 20px;
  background: rgb(0, 0, 0);
  color: #fff;
}
  
  h2 {
    font-family: "Rubik", serif;
    font-size: 24px;
  }
  
  b {
    font-family: "Rubik", serif;
  }

  .txt{
    font-size: 16px;
  }
  
  p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }
  
  .Inf {
    background-color: #25afaf;
    text-align: center;
    padding: 3px;
  }
  
.fotos{
    width: 250;
    height: 250px;
    border: 3px #14a1a1 solid;
  }

  .fotos:hover{
    border: 3px red solid;
  }

    /* TABLA */

    th{
        font-size: 19px;
        background-color: rgb(255, 208, 137);
    }
  
    td{
      display: inline-block;
      background-color: blanchedalmond;
    }
  
    td > a {
      display: block;
      font-size: 15px;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      color: black;
    }
    
    table{
      font-family: "Rubik", serif;
      border-collapse: collapse;
  
    }
  
    td, th{
        border: 1px solid black;
        text-align: center;
        padding: 2px;
    }

  /* BARRA DE MENÚ */
  
  .barra {
    width: 1000px;
    margin: 30px auto;
    background: #222222;
    margin-bottom: 0px;
  }
  
  .barra ul {
    list-style: none;
  }
  
  /* MENU */
  
  .menu {
    margin-bottom: 0px;
  }
  
  .menu > li {
    display: inline-block;
  }
  
  .menu > li > a {
    display: block;
    padding: 15px 20px;
    color: #002b7a;
    font-family: "Rubik", serif;
    font-size: 15px;
    text-decoration: none;
  }
  
  .menu li a:hover {
    color: #14a1a1;
    transition: all .2s;
  }
  
  /* SUBMENU */
  
  .submenu {
    position: absolute;
    background: #262d35;
    display: none;
  }
  
  .submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    font-family: "Rubik", serif;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
  }
  
  .menu li:hover .submenu {
    display: block;
  }  
