h1 {
    font-family: "Rubik", serif;
    font-size: xx-large;
}

.volver-txt {
    width: 90px;
    margin: auto;
    border: 2px solid red;
    text-align: center;
    font-size: 22px;
    background-color: #9999ff;
}
.volver-txt:hover {
    background-color: rgb(60, 255, 60);
}

body {
    background-color: rgb(212, 236, 255);
}